*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "open sans", arial, sans-serif;
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header{
    width: 100%;
    background:url('../images/6.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    .contenedor{
        position: relative;
        height:700px;
    }
    .mobile{
        display: none;
    }
    .menu{
        width: 100%;
        text-align: right;
        border-bottom: 1px solid white;
        .menu-fixed{
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        justify-content: left;
        background-color: #222222b5;
        z-index: 999999999;
        border-bottom: 1px solid white;
        .logo{
            /*display: none;*/
        }
    }
    a{
        color:#fff;
        font-size:20px;
        font-weight:300;
        display:inline-block;
        margin:40px 20px;
        text-decoration:none;
        position:relative;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .texto{
        width:100%;
        color: #fff;
        position:absolute;
        top:50%;
        margin-top: -52px;
        /*max-width: 500px
        padding: 200px; */
        /*background-color: #0000007a;*/
        /*border-bottom: 3px solid white;*/
            .nombre{
                font-size: 70px;
                font-weight:600;
                span{
                    font-weight:300;
                }
            }
            h3{
            font-weight:300;
            font-size:25px;
            font-style:italic;
            background-color: #0000007a;
            }
        }
    }

.boton-wsp{
    position: fixed;
    bottom: 5px;
    z-index: 120;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    a{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        text-decoration: none;
        .txt-wpp{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #fff;
            color: #25d366;
            padding: 0 5px;
            font-size: 14px;
            font-weight: 700;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            padding-right: 11px;
            padding-left: 45px !important;
            margin-left: -35px;
            z-index: 1;
            border-radius: 50px;
            border: 1px solid #25d366;
            text-decoration: none;
             &:hover{
                background-color: #25d366;
                color: #fff;
            }
        }
    }
    .icon-wsp{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #25d366;
        text-align: center;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border-radius: 100%;
        float: left;
        z-index: 2;
        color: #fff;
        font-size: 19px;
        &:hover{
            background-color: #000;
            color: #fff;
        }
        .fa{
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            color: white;
        }
    }
}

.main{
    background: url('../images/textura.png');
    /*background: repeat;*/ 
    .acerca-de{
        .contenedor{
        overflow: visible;
        position: relative;
        }
        .foto{
            width: 80%;
            position:absolute;
            left: 0;
            top:-50px;
            z-index: 0;
            box-shadow: 0px 0px 15px rgba(0,0,0,.35);
            img{
                vertical-align: top;
                width: 100%;
            }
        }
        article{
            background: #fff;
            padding: 40px;
            width: 50%;
            position: relative;
            top: 500px;
            /*top: 150px; */    
            z-index: 1;
            float: right;
            box-shadow: 0px 0px 15px rgba(0,0,0,.35);
            h3{
                font-size: 50px;
                font-weight: 300;
                margin-bottom: 40px;
            }
            p{
                line-height: 28px;
                margin-bottom: 15px;
            }
        }
        
    } 
    .galeria{
        .titulo{
            text-align: center;
            font-size: 40px;
            line-height:40px;
            font-weight: 300;
            margin-bottom: 30px;
            margin-top: 40px;
            line-height: 50px;
        }   
        .gallery-container{
        width: 100%;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 300px);
            .gallery-card{
               overflow: hidden;
               a{
                width: 100%;
                height: 100%;
                & > img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s; 
                    &:hover{
                        transform: scale(1.5) rotate(30deg);
                       }
                    }
                }
            }
        }
    }
    .servicios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        .contenedor{
            width: 90%;
            max-width: 1000px;
            margin: auto;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .titulo{
                text-align: center;
                font-size: 42px;
                line-height:40px;
                font-weight: 300;
                margin-bottom: 30px;
                margin-top: 80px;
                line-height: 50px;
                width: 100%;
            }
            .fila1{
                justify-content: space-around;
                width: 50%;
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                .foto{
                    margin-bottom: 30px;
                }
            }
            .fila2{
               justify-content: space-around;
                width: 50%;
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                .foto{
                    margin-bottom: 30px;
                }
            }
        }
    }
    .ubicacion{
        padding: 68px 0;
        overflow: hidden;
        .titulo{
            text-align: center;
            font-size: 40px;
            line-height:40px;
            font-weight: 300;
            margin-bottom: 30px; 
            margin-top: 10px;
        }
        .direccion{
            float: left;
            width: 50%;
            text-align: left;
            .calle{
                margin-bottom: 15px;
            }
        }
        .horarios{
            float: right;
            width: 50%;
            text-align: right;
            overflow: hidden;
            h4{
                text-align: center;
                margin-bottom: 20px;
            }
            .entre-semana,
            .finde-semana{
                width: 50%;
                float: left;
                text-align: center;
            }
        }

    }
    .mapa{
        width: 100%;
        overflow: hidden;
        iframe{
            width: 100%;
            max-height: 600px;
        }
    }
    .contacto{
        padding: 60px 0;
        .titulo{  
            font-size: 34px;
            line-height: 34px;
            margin-bottom: 30px;
            font-weight: 300;
            text-align:center;
        }
        .descripcion{
            font-size: 25px;
            line-height: 34px;
            margin-bottom: 30px;
            font-weight: 300;
            text-align:center;
        }
        .previaje{
            font-size: 18px;
            line-height: 34px;
            margin-bottom: 50px;
            font-weight: 300;
            text-align:center;
            /*border: 3px solid black;*/
            /*background-color: #000;*/
            color: #3A4060;
            font-family: sans-serif;
        }
        .formulario{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            #campos{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
            }
            #enviando, #enviado, #error{
                display: none;
                font-size: 22px;
                margin: 25px auto;
                font-weight: bold;
                color: #3a405f;
            }
            input[type="text"]:focus,
            input[type="email"]:focus,
            textarea:focus{
                border: 2px solid #3029A4;

            }
            input[type="text"],
            input[type="email"],
            input[type="tel"]
            {
                width: 49%;
                margin-top: 15px;
                margin-bottom: 15px;
                border: 2px solid #cecece;
                border-radius: 5px;
                padding: 15px 20px;
                font-size: 15px;
                color: #a4a4a4;
            }
            .imput{
                width: 49%;
                label{
                    font-size: 15px;
                    border-bottom: 30px;
                    text-align: center;
                }
                input{
                    width: 100%;
                    margin-bottom: 15px;
                    border: 2px solid #cecece;
                    border-radius: 5px;
                    padding: 15px 20px;
                    font-size: 20px;
                    color: #a4a4a4;
                }
            }
            
            textarea{
                width: 100%;
                margin-bottom: 15px;
                border: 2px solid #cecece;
                border-radius: 5px;
                padding: 15px 20px;
                font-size: 20px;
                color: #a4a4a4;            
            }
            .boton{
                margin: 25px auto;
                background: #000;
                color: #fff;
                border: none;
                border-radius: 3px;
                padding: 15px 40px;
                cursor: pointer;
                &:hover{
                    background:#222222b5;
                }
            }
            label{
                display: block;
                margin-bottom: 5px;
                font-weight: 700;
            }
        }
    }
}
footer{
    background: #3A4060;
    .final{
        padding: 20px 0;
        text-align: center;
        color: #fff;
    }
    .social{
        text-align: center;
        padding: 20px 0;
        a{
            padding: 10px;
            display: inline-block;
            margin: 0 20px;
            width: 50px;
            font-size: 22px;
            color: #fff;
            background: #000;
            border-radius: 100px; 
            a:hover{
                text-decoration: none; 
            }
            &.facebook{
                background: #3b5998;
            }
            &.twitter{
                background: #55acee;
            }
            &.instagram{
                background: #cd201f;
            }
        }
    }

}
@media (max-width: 800px) {
    header{
        .contenedor{
            position: static;
            height: auto;
            label{
            display: block;
            }
            .menu{
                display: none;
                position: fixed;
                top: 50px;
                left: 0;
                width: 60%;
                transform: translateX(-100%);
                transition: all 0.3s;
                display: block;
                background: white;
                z-index: 9999;
            }
            .mobile{
                margin-top: 20px;
                display: block;
                position: fixed;
                top: 0;
                right: 0;
                z-index: 999999;
                .menu-fixed {
                    position:fixed;
                    z-index:1000;
                    top:0;
                    /*max-width:1000px;*/
                    left:0;
                    width:100%;
                    box-shadow:0px 4px 3px rgba(0,0,0,.5);
                }
                label{
                    display: block;
                    float: right;
                    background: white;
                    border-radius: 30px;
                    padding: 8px;
                    box-shadow: 0px 0px 8px #a5a5a5;
                    &:before{
                        color: black;
                        font-size: 25px;
                
                    }
                }
                #btn-menu{
                    display: block;
                    float: right;
                    right: 25px;
                    top: 8px;
                    opacity: 0;
                    position: relative;
                }
                .menu{
                    position: fixed;
                    top: 50px;
                    left: 0;
                    width: 60%;
                    transform: translateX(-100%);
                    transition: all 0.3s;
                    display: block;
                    background: white;
                    z-index: 9999;
                    ul{
                        display: block;
                        display: flex;
                        flex-direction: column;
                        background: #fff;/*#222222b5;*/
                        li{
                            /*display: list-item;
                            text-align: -webkit-match-parent;
                            list-style-type: disc;*/
                            border-bottom: 1px solid black;
                            a{
                                top: 0px;
                                color: #000;
                                margin: 10px 23px;
                                float: left;
                                font-size: 20px;
                                font-weight: 300;
                                display: inline-block;
                               /* margin: 40px 20px; */
                                text-decoration: none;
                                position: relative;
                            }
                        }
                    }
                    a{
                        span{
                            position: absolute;
                            right: 6px;
                        }
                    }
                }
                #btn-menu:checked ~ .menu{
                    transform:translateX(0%);
                }
            }
        }

        .texto{
            position: static;
            margin:100px 0;
            .nombre{
                font-size: 30px;
            }
            h3{
                font-size: 18px;
            }
        }
    }
    .main{
        .acerca-de{
            .foto{
                width: 100%;
                position: relative;
            }
            article{
                position: relative;
                width: 100%;
                top: -50px;
                transform: translate(0px, 0);
            }
        }
        .servicios{
            /*padding-top: 20px;*/
            .contenedor{
                width: 100%;
            }
        }
        .galeria{
            .gallery-container{
                width: 100%;
                .gallery-card{
                        width: 100%;
            
                    }
                }
            }
            .mapa{
                width: 80%;
                margin: auto;
            }
        }
    }
@media screen and (max-width: 450px) {
    header{
        .contenedor{
            .texto{
            width: 100%;
            .nombre{
               width: 70%;
               margin-bottom: 10px;
            }
                h3{
                    width: 80%;
                }
            }
        }
    }
    .boton-wsp{
    position: fixed;
    bottom: 5px;
    z-index: 120;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    right: 20px;
    margin-bottom: 20px;
        a{
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            text-decoration: none;
             .txt-wpp{
                display: none;
             }
        }
        .icon-wsp{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #25d366;
            text-align: center;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            border-radius: 100%;
            float: left;
            z-index: 2;
            color: #fff;
            font-size: 19px;
            .fa{
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
    .main{
        .acerca-de{
            padding: 15px 0;
            padding-top: 25px;
            margin-bottom: 5px;
            .cotenedor{
                article{
                margin-bottom: 5px;
                    h3{
                        font-size: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .ubicacion{
            padding: 15px 0;
            padding-top: 0px;
            margin-bottom: 5px;
            .direccion{
                margin-bottom: 15px;
            }
            .horarios,
            .direccion{
                width: 100%;
                text-align: center;
            }
        }
        .servicios{
            padding: 15px 0;
            padding-top: 25px;
            margin-bottom: 5px;
            .titulo{
                margin-top: 0px !important;
            }
            .contenedor{
                margin-bottom: 0;
                .fila1,
                .fila2{
                    width: 100%;
                    margin-left: 15px;
                    .foto{
                        margin-bottom: 40px;
                    }
                }
            }
        }
        .galeria{
            padding: 15px 0;
            padding-top: 0px;
            margin-bottom: 5px;
            .titulo{
                margin-top: 0px;
            }
            .gallery-container{
                width: 100%;
                border: 2px solid white;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows:repeat(8, 250px);
                .gallery-card{
                    width: 100%; 
                    border: 2px solid white;
                    /*a{
                        img{ 
                            vertical-align: top;
                            opacity: .5;
                            &:hover{
                            display: none;
                            }
                        }
                    } */     
                }
            }
        }
        .contacto{
            padding: 15px 0;
            padding-top: 25px;
            margin-bottom: 5px;
            .descripcion{
                font-size: 20px;
            }
            .pre-viaje{
                font-size: 14px;
            }
            .formulario{
                .imput,
                textarea{
                    width: 100%;
                    margin-bottom: 8px;
                    margin-top: 15px;
                    font-size: 14px;
                }
                input[type="text"],
                input[type="email"],
                input[type="tel"],
                textarea{
                    width: 100%;
                }
            }
        }
    }
}